<article itemscope itemType='http://schema.org/BlogPosting' id='postContainer'>

	<header>
		<h1 itemprop='headline'><%= page.title || '(no title)' %></h1>
		<p>
			<time itemprop='datePublished' content='<%= page.date %>'><%= page.date.format('MMM DD, YYYY') %></time>
			<% if ( ( page.categories ) && ( page.categories.length > 0 ) ) { %> in <%- list_categories( page.categories, { show_count: 0, style: 'none' } ) %> <% } %>
		</p>
	</header>

	<section itemprop='articleBody'>
		<%- page.content %>
	</section>

	<nav id='pagination'>
		<% if (page.prev) { %><a href='<%- url_for(page.prev.path) %>'>Précédent : <%= page.prev.title || '(no title)' %></a><% } %>
		<% if (page.next) { %><a href='<%- url_for(page.next.path) %>'>Suivant : <%= page.next.title || '(no title)' %></a><% } %>
	</nav>

	<div id='disqus_thread'></div>

</article>



<script type='text/javascript'>
var disqus_shortname = 'croclemonde';
// DON'T EDIT BELOW THIS LINE
(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
